---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h2>Hello! welcome to astro.</h2>
		<h3>This is technical world</h3>
	</main>
</Layout>

<style>
	
</style>
